@import "../px2rem";
@import "../var";

.components_cellform{
  font-size: .5rem;
  color: $fontgray;
  .cell-form-bd{
    background: transparent url("../../assets/img/right.png") right center/ px2rem(7) px2rem(18) no-repeat;
  }
  .cell-form_item{
    display: flex;
    height: px2rem(40);
    line-height: px2rem(40);
    font-size: .45rem;
  }
  .cell-form_label{
    flex: 1;
    text-align: right;
  }
  .cell-form_value{
    flex: 2.5;
    text-align: center;
  }
  .cell-form_value_red{
    color: $font_red;
    font-size: .55rem;
  }
  .cell-form_value_green{
    color: $font_green;
    font-size: .55rem;
  }
  .cell-form_value_gray{
    font-size: .55rem;
  }
}
